<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Term</title>
</head>
<body>
    <form class="create-term" action="/terms" method="POST">
      <label for="name">
        Name: <input type="text" name="name" id="name" />
      </label>
      <label for="name">
        definition : <input type="text" name="definition" id="definition" />
        </label>
        <button type="submit">Create terms</button>
      </form>
     
</body>
</html>